.benefits__pseudo-btn {
    font-style: normal; 
    font-weight: 600;
    font-size: 14px;
    line-height: 22px;
    color: #36A269;
    display: flex;
    justify-content: center;
}

.benefits__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 80px;
}

.benefits__text-content {
    width: 500px;
    font-size: 18px;
}

.benefits__title-decorative {
    font-family: $font-additional;
    color: $color-blue;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.25px;
    margin-bottom: 8px;
}

.benefits__list-item {
    list-style-type: none;
}

.benefits__image-content {
    width: 540px;
}

.benefits__h5 {
    margin-bottom: 9px;
}

.benefits_p {
    margin-bottom: 16px;
}