.container-description {
    width: 70%;
    margin: 0 auto;
    text-align: center;
}

.title {
    color: $color-font-primary;
    font-weight: 800;
}

.subtitle {
    color: $color-font-additional;
    font-size: 20px;
}
