.build-up {
    margin-top: 128px;
}

.build-up__items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.build-up__item-title {
    width: 100%;
    font-size: 18px;
    line-height: 30px;
}

.build-up__item {
    width: 30%;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 5%;
}
