.footer__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.footer__description {
    width: 352px;
}

.nav-wrapper {
    width: 583px;
    display: flex;
    justify-content: space-between;
}

.footer__nav  {
    font-size: 14px;
    line-height: 22px;
}

.footer__bottom {
    margin-top: 64px;
    display: flex;
    justify-content: space-between;
    margin-right: 0;
}

.footer__copyright {
    margin-top: 48px;
    margin: 0 0 70px 0;
    font-size: 14px;
    line-height: 22px;
}

.nav__title {
    color: $color-font-primary;
    font-weight: 500;
}

.footer__social-item {
    padding-right: 16px;
}

.footer__social-item:last-child {
    padding-right: 0;
}

.footer__logo {
    margin-bottom: 14px;
}