.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0 60px 0;
}

.header__menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.header__link {
    color: $color-sentimenal;
    font-weight: 400;
    float: left
}

.header__button {
    border: none;
    margin-left: 48px;
    padding: 6px;
    width: 96px;
    height: 40px;
}

