@media (min-width: 769px) and (max-width:1200px) {
  .wrapper {
    max-width: 90%;
    overflow: hidden;
  }

  .benefits__item {
    gap: 10px;
  }

  .benefits__content  {
    line-height: 1.5;
    font-size: 17px;
  }

  .benefits__image-content {
    max-width: 99%;
  }

  .testimonial__item { 
    padding: 24px 14px;
  }

  .subscribe__container {
    padding: 40px 20px;
    display: block;
  }

  .subscribe__description {
    width: 100%;
  }

  .subscribe__title {
    margin-bottom: 20px;
  }

  .subscribe__subtitle {
    margin-bottom: 20px;
  }
}

@media (max-width: 768px) {
  .wrapper {
    max-width: 90%;
    overflow: hidden;
  }

  .template,
  .build-up,
  .benefits,
  .testimonial,
  .subscribe {
    margin-bottom: 20px;
  }

  .template__buttons {
    margin-bottom: 20px;
  }

  .build-up__item,
  .benefits__item,
  .testimonial__items {
    margin-top: 20px;
  }

  .build-up::after,
  .benefits::after {
    margin-top: 20px;
    margin-bottom: 10px;
  }

  .testimonial__items {
    flex-wrap: wrap;
    justify-content: center;
  }

  .testimonial__item {
    display: flex;
    flex-wrap: wrap;
    margin-right: 0;
    padding: inherit;
    margin-bottom: 20px;
  }

  .testimonial__avatar {
    order: 1;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 10px;
  }

  .testimonial__misc {
    order: 2;
    margin-left: 10px;
    align-self: center;
  }

  .testimonial__content {
    order: 3;
    margin-left: 10px;
    margin-bottom: 10px;
  }

  .testimonial__content::after {
    display: none;
  }

  .subscribe__container {
    flex-direction: column;
    padding: 20px 10px;
  }

  .subscribe__title,
  .subscribe__subtitle,
  .footer__subtitle {
    margin-bottom: 10px;
  }

  .footer__bottom {
    flex-direction: column;
    justify-content: end;
    margin-top: 10px;
  }

  .header {
    margin-bottom: 20px;
  }

  .title--v2 {
    font-size: 18px;
    font-weight: normal;
  }

  .footer__column {
    margin-bottom: 10px;
  }

  .footer__copyright {
   margin-bottom: 10px;
  }

}

@media (min-width: 501px) and (max-width: 768px) {
  .build-up__item-title {
    font-size: 13px;
    line-height: 1.5;
  }

  .benefits__item {
    flex-direction: column;
  }

  .benefits__image {
    // TODO: add adaptive image
    display: none;
  }

  .benefits__content {
    font-size: 17px;
    line-height: 1.2;
  }

  .benefits__content,
  .benefits__list-item {
    font-size: 15px;
    line-height: 130%;
  }

  .benefits__text-content {
    text-align: center;
  }

  .container-description {
    width: 100%;
  }

  .subscribe__title,
  .subscribe__subtitle {
    text-align: center;
  }

  .subscribe__button {
    padding: 10px 16px;
  }

  .form {
    justify-content: center;
  }

  .footer__items {
    justify-content: space-around;
  }

  .footer__copyright {
    text-align: center;
    order: 1;
    margin-top: 20px;
  }

  .footer__right-column {
    max-width: 100%;
    margin-top: 10px;
    display: flex;
    align-items: center;
  }

  .footer__subtitle {
    margin-left: 20px;
  }

  .footer__top {
    flex-direction: column;
  }

  .footer__columns {
    width: 100%;
    margin-top: 10px;
  }

  .footer__bottom {
    margin-top: 10px;
    align-items: baseline;
    flex-direction: row-reverse;
    justify-content: space-between;
  }

  .footer__copyright {
    text-align: start;
  }

}

@media (max-width: 500px) {
  .logo {
    display: none;
  }

  .template__title {
    font-size: 39px;
    line-height: 1.2;
  }

  .header {
    display: flex;
    justify-content: center;
  }

  .template__button {
    padding: 10px;
    margin-bottom: 10px;
  }

  .template__image {
    display: none;
  }

  .title--v1 {
    font-size: 30px;
  }

  .subtitle {
    font-size: 15px;
  }

  .build-up__items {
    justify-content: center;
  }

  .build-up__item-title,
  .benefits__image {
    display: none;
  }
  
  .build-up__item-icon {
    width: 54px;
    height: 54px;
  }

  .title--v3 {
    font-size: 24px;
  }

  .benefits__content,
  .benefits__list-item {
    font-size: 15px;
    line-height: 130%;
  }

  .benefits__title-decorative {
    margin-bottom: 0;
  }

  .benefits__content {
    margin-top: 16px;
  }

  .testimonial__author,
  .testimonial__company {
    font-size: 14px;
  }

  .container-description {
    width: 100%;
  }

  .footer__items {
    justify-content: space-around;
  }

  .footer__copyright {
    text-align: center;
    order: 1;
    margin-top: 20px;
  }

  .footer__right-column {
    max-width: 100%;
    margin-top: 10px;
  }

  .footer__top {
    flex-direction: column;
  }

  .footer__columns {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .subscribe__input {
    max-width: -webkit-fill-available;
    margin-bottom: 10px;
  }
}
