@media (max-width: 880px) {
  .body {
    margin: 0 auto;
    overflow-x: hidden;
  }
  .logo {
    display: none;
  }
  .template__title {
    font-size: 39px;
    line-height: 1.2;
  }
  .header {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  .template__button {
    padding: 10px;
    margin-bottom: 10px;
  }
  .template__buttons {
    margin-bottom: 20px;
  }
  .template__image {
    display: none;
  }

  .template,
  .build-up,
  .benefits,
  .testimonial,
  .subscribe {
    margin-bottom: 20px;
  }

  .title--v1 {
    font-size: 30px;
  }
  .subtitle {
    font-size: 15px;
  }
  .build-up__item,
  .benefits__item,
  .testimonial__items {
    margin-top: 20px;
  }
  .build-up__items {
    justify-content: center;
  }
  .build-up__item-title,
  .benefits__image {
    display: none;
  }
  .title--v2 {
    font-size: 18px;
    font-weight: normal;
  }
  .build-up__item-icon {
    width: 54px;
    height: 54px;
  }
  .build-up::after,
  .benefits::after {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .title--v3 {
    font-size: 24px;
  }
  .benefits__content,
  .benefits__list-item {
    font-size: 15px;
    line-height: 130%;
  }
  .testimonial__items {
    flex-wrap: wrap;
    justify-content: center;
  }
  .testimonial__item {
    display: flex;
    flex-wrap: wrap;
    margin-right: 0;
    padding: inherit;
    margin-bottom: 20px;
  }

  .testimonial__avatar {
    order: 1;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 10px;
  }

  .testimonial__misc {
    order: 2;
    margin-left: 10px;
    align-self: center;
  }

  .testimonial__content {
    order: 3;
    margin-left: 10px;
    margin-bottom: 10px;
  }

  .testimonial__content::after {
    display: none;
  }

  .testimonial__item:last-child {
    margin-left: 0;
  }

  .wrapper {
    max-width: 90%;
    margin: 0 auto;
    overflow: hidden;
  }

  .benefits__title-decorative {
    margin-bottom: 0;
  }

  .benefits__content {
    margin-top: 16px;
  }

  .testimonial__author,
  .testimonial__company {
    font-size: 14px;
  }
  .subscribe__container {
    flex-direction: column;
    padding: 20px 10px;
  }
  .container-description {
    width: 100%;
  }
  .subscribe__title,
  .subscribe__subtitle,
  .footer__subtitle {
    margin-bottom: 10px;
  }

  .footer__bottom {
    flex-direction: column;
    justify-content: end;
  }

  .footer__items {
    justify-content: space-around;
  }

  .footer__copyright {
    text-align: center;
    order: 1;
    margin-top: 20px;
  }

  .footer__right-column {
    max-width: 100%;
    margin-top: 10px;
  }

  .footer__top {
    flex-direction: column;
  }

  .footer__columns {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .footer__bottom {
    margin-top: 10px;
  }

  .footer__column {
    margin-bottom: 10px;
  }

  .form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .subscribe__input {
    max-width: -webkit-fill-available;
    margin-bottom: 10px;
  }
}
