.title--v1 {
    font-size: 40px;
    line-height: 1.25;
    margin-bottom: 16px;
    letter-spacing: -0.5px;
}

.title--v2 {
    font-weight: 700;
    font-size: 24px;
    line-height: 1.42;
}

.title--v3 {
    font-weight: 700;
    font-size: 32px;
    line-height: 1.31;
}

.link--grey {
    background-color: $color-btn-additional;
    color: $color-sentimenal;
}

.subtitle--s {
    font-size: 18px;
}

.subtitle--xs {
    font-size: 16px;
}

.subtitle--xxs {
    font-size: 14px;
}

.link--white {
    color: $color-white;
}

.link--sentimenal {
    color: $color-sentimenal;
}

.link--blue {
    color: $color-blue;
}