.subscribe{
    background-color: $color-blue;
    margin-bottom: 64px;
}

.subscribe__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 79px 48px;
}

.subscribe__description {
    text-align: left;
}

.subscribe__subtitle {
    color: #E2E1FF;
}

.form {
    display: flex;
    align-items: center;
}

.subscribe__input {
    background: #4B4ACF;
    border: 1px solid #8D8DFF;
    border-radius: 2px;
    padding: 10px 109px 10px 12px;
    color: #E2E1FF;
    margin-right: 8px;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    display: block;
}

::-webkit-input-placeholder {
    color: #ABABFF;
}

.subscribe__button {
    font-weight: 500;
    background-color: #F4F4FF;
    color: $color-blue;
    padding: 12px 32px;
    font-weight: 500;
    font-size: 16px;
    border-radius: 2px;
}
