.template {
    margin-bottom: 128px;
}

.template__buttons {
    display: flex;
    justify-content: center;
    margin-bottom: 64px;
}

.template__button {
    margin: 20px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    padding: 12px 32px;
    color: $color-white;
    background-color: $color-blue;
}

.template__image {
    display: flex;
    align-items: center;
    justify-content: center;
}

.link:hover {
    text-decoration: underline;
}