.testimonials__items {
    display: flex;
    margin: 80px 0;
    justify-content: space-between;
}

.testimonial__item {
    width: 352px;
    background-color: #25282C;
    padding: 24px 24px 20px 24px;
    margin-right: 24px;
}

.testimonial__item:last-child {
    margin-right: 0;
}

.testimonial__author {
    display: inline;
    color: $color-font-primary;
}

.testimonial__company {
    display: inline;
    color: $color-blue;
}

.testimonial__content-item::before {
    content: "– ";
}

.testimomial__misc p:not(:first-child)::before {
     content: " / ";
     color: $color-btn-additional;
}

.testimonial__content::after {
    content: "";
    display: block;
    margin: 0 auto;
    border-bottom: 1px solid $color-btn-additional;;
    margin: 24px 0 20px 0;
}
