@import url(https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900);
@import url(https://fonts.googleapis.com/css?family=Architects+Daughter:regular);

$font-primary: Inter, sans-serif;
$font-additional: 'Architects Daughter', serif;

$color-font-primary: #D9E3EA;
$color-font-additional: #9BA9B4;

$color-btn-additional: #33363A;

$color-white: #FFFFFF;
$color-blue: #5D5DFF;
$color-sentimenal: #C5D2DC;
